.card{
    border-radius: 1rem;
}

.login{
    background-color: #008080;
}
.login card{
    border-radius: 1rem;
}
.login img{
    border-radius: 1rem 0 0 1rem;
    height: 100%;
}

.morado{
    color: #393f81;
}
#alta{
    border-radius:  0 1rem 1rem 0 ;
}
#places{
    background-image: url('../img/alta.webp');
    background-repeat: round;
}
.paddingLeft{
    padding-left: 1rem !important;
}